@model IEnumerable<Country>
<h1>Search Results</h1>

<table class="table table-bordered table-striped" style="width:100%">  
    <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Region</th>
    </tr>


    @foreach (var country in Model)
    {
        <tr>
            <td><a href="/Country/ViewCountry/@country.Id">
                <img width="166", height="100" src="@country.Flag" />
                </a></td>
            <td><a href=/Country/ViewCountry/@country.Id>@country.Id</td>
            <td><h2>@country.Name</h2></td>
            <td>@country.Region</td>
        </tr>
    }
</table>
